<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<body>
<center>
  <h1>Dave Bennett: "The most interesting man on the lower level."</h1>
  <p><%= image_tag "profile.jpg" %> </p>
  <p><%= image_tag "sloth-in-space.jpg" %> </p>
  <p><%= image_tag "yellow-tree-au.jpg" %> </p>
  <p><i>Find my actual file in the source code here: app/views/welcome/about.html.erb</i></p>

</center>
</body>

