<head>
    <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<font FACE="helvetica neue">
<font Color="#EFF5F5">
<center>
    <h1>Dave Bennett: "The most interesting man on the lower level."</h1>
    <i>Find my actual file in the source code here: app/views/welcome/about.html.erb</i>
</center>
</font>
  <img src="../app/assets/images/profile.jpg"
</body>