<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<body id="page-settings">
<div class="fixed-nav-bar nav center-text">
  <ul>
    <li class="home"><a href="/welcome/index">Home</a></li>
    <li class="about"><a href="/welcome/about">About me</a></li>
    <li class="contact"><a href="/welcome/contact">Contact</a></li>
  </ul>
  <div>
    <%= image_tag("profile.jpg", class: "round-image-edge image-shadow profile-picture-position")%>
    <h1 class=center-text>Dave Bennett: "The most intriguing man on the lower level."</h1>
    <p  class=center-text><i>Once set on doing philosophy, now practicing agile methodology.</i> </p>
  </div>

<div class="content-wrap">
    <h1>A Semi-Auto-Biographical Anecdote</h1>
    <p class=left-justified > In the desert of post-graduate despair I came to a crossing, into what can only be
      described as a land rife with existential challenges: rent, student-loan payments, employment! What was a young philosophy
      student to do? After hours of pain staking research and many failed job applications, I found solid footing at the
      doors of a technology company. Many hours of hard work, sweating, and struggle later, I evolved into a software project
      management role, I became a fabled "Agile Project Manager." </br> </br>

      Along the path, I laid down for rest, and awoke to find a venomous snake lying on my chest, greeting my stare.
      Startled that I did not fear, he quickly lunged, sinking his poisonous fangs in my neck. Standing where I was the
      beast responded, "Your journey is short," said the viper, "my poison is fatal." I smiled, "When did a dragon ever
      die of a snake's poison?" "Take your poison back, you are not rich enough to present it to me." Then the snake fell
      to the ground, licking his own wounds.</br> </br>

      You, my reader, must decide for yourself whom you may face and how you will respond when you raise from a dogmatic
      slumber. Perhaps I will leave you with this parting thought, only the agile with the will to overcome will be the
      quickest to adopt. </br> </br>

      <i>"When, however, you have an enemy, then return him not good for evil: for that would abash him. But prove that he
      has done something good to you."</i>&mdash;Friedrich Nietzsche from "Thus Spake Zarathustra"

    </p>
</div>
</body>
