<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<body id="page-settings">
<div class="nav center-text">
  <ul>
    <li class="home"><a href="/welcome/index">Home</a></li>
    <li class="about"><a href="/welcome/about">About me</a></li>
    <li class="contact"><a href="/welcome/contact">Contact</a></li>
  </ul>
</div>
    <div class="content-wrap">


      <%= image_tag("profile.jpg", class: "round-image-edge image-shadow profile-picture-position")%>
      <h1 class=center-text>Dave Bennett: "The most intriguing man on the lower level."</h1>

      <p class=" center-text"><i>Once set on doing philosophy, now practicing agile methodology.</i> </p>
      <p class=" center-text">  "Agile Philosophy!?", you say? "Why sloths on your page then?", you say! Look closely
        dear reader! This is a story about sloths--traditionally slow, vegetative animals--becoming agile in their software delivery.
      </p>
          <div>
            <%= image_tag("sloth-in-space.jpg", class:"image-margin")%>

            <a href="http://science.time.com/2014/01/22/the-mystery-of-sloth-poop-one-more-reason-to-love-science/">
              <img class="image-margin" src="https://s-media-cache-ak0.pinimg.com/736x/75/62/7b/75627b34b924c6332e08d73f8fb6cce7.jpg"/>
            </a>

            <img class="image-margin" src="http://i.imgur.com/na2lWHg.jpg"/>
            <%= image_tag "valley-trees.jpg", class:"image-margin" %>
          </div>

      <p class="center-text"><i>Find my actual file in the source code here: app/views/welcome/about.html.erb</i></p>
    </div>
</body>

