<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<body id="page-settings">
<div class="nav center-text">
  <ul>
    <li class="home"><a href="/welcome/index">Home</a></li>
    <li class="about"><a href="/welcome/about">About me</a></li>
    <li class="contact"><a href="/welcome/contact">Contact</a></li>
  </ul>
  <div>
    <%= image_tag("profile.jpg", class: "round-image-edge image-shadow profile-picture-position")%>
    <h1 class=center-text>Dave Bennett: "The most intriguing man on the lower level."</h1>
  </div>

<div class="content-wrap"
    <h1>Biography</h1>
    <p class=left-justified > In the desert of post-graduate despair I came to a crossing, into what can only be described as a land flowing with milk and honey.
    </p>
</div>
</body>
