<body bgcolor="#81B0B4">

<FONT FACE="helvetica neue">
<FONT Color="#EFF5F5">
<center>
    <h1>Dave Bennett: "The most interesting man on the lower level."</h1>
    <i>Find my actual file in the source code here: app/views/welcome/about.html.erb</i>
</center>
</FONT>
</body>