<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<body id="page-settings">
    <div class="nav center-text">
      <ul>
        <li class="home"><a href="/welcome/index">Home</a></li>
        <li class="about"><a href="/welcome/about">About me</a></li>
        <li class="contact"><a href="/welcome/contact">Contact</a></li>
      </ul>
    </div>
</body>