<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<body>
<h1>Biography</h1>

<p class=left-justified > In the desert of post-graduate despair I came to a crossing, into what can only be described as a land flowing with milk and honey.
</p>


  <a href="http://www.destaethiopiankitchen.com">
    <img class="center"src="http://www.lemonythyme.com/wp-content/uploads/2013/09/Desta-Ethiopian-Kitchen-1024x837.jpg">
  </a>

</p>
</body>
