<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<<<<<<< HEAD
<body id="page-settings">
    <div class="nav center-text">
      <ul>
        <li class="home"><a href="/welcome/index">Home</a></li>
        <li class="about"><a href="/welcome/about">About me</a></li>
        <li class="contact"><a href="/welcome/contact">Contact</a></li>
      </ul>
    </div>
<div class="content-wrap"
    <h1>This is an index with non-index items put on it. yay.</h1>
=======
<body>
<h1>Biography</h1>

<p class=left-justified > In the desert of post-graduate despair I came to a crossing, into what can only be described as a land flowing with milk and honey.
</p>
>>>>>>> FETCH_HEAD

    <p>
      <uo>
        <li>Antico Pizza</li>
        <li>Thai Smile 2</li>
        <li class="favorite-restaraunt-color">Swapna</li>
        <li>Desta</li>
        <li>Mojito's</li>
      </uo>
    </p>

    <p>


      <a href="http://www.destaethiopiankitchen.com">
        <img class="center"src="http://www.lemonythyme.com/wp-content/uploads/2013/09/Desta-Ethiopian-Kitchen-1024x837.jpg">
      </a>

    </p>
</div>
</body>
