<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.scss"
</head>

<body>
<h1>This is an index with non-index items put on it. yay.</h1>
<p>
  <uo>
    <li>Antico Pizza</li>
    <li>Thai Smile 2</li>
    <li>Swapna</li>
    <li>Desta</li>
    <li>Mojito's</li>
  </uo>
</p>
<p>
  <center>

  <a href="http://www.destaethiopiankitchen.com">
    <img src="http://www.lemonythyme.com/wp-content/uploads/2013/09/Desta-Ethiopian-Kitchen-1024x837.jpg">
  </a>
  </center>
</p>
</body>
